@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-colour: hsl(204, 100%, 50%);
  --navy-colour: hsl(211, 58%, 19%);
  --light-gray-colour: hsl(60, 28%, 92%);
  --gray-colour: hsl(60, 28%, 80%);
  --ship-colour: hsl(211, 58%, 30%);
  --hit-color: #febe3f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  height: 100dvh;
  padding-bottom: 24px;
}

button {
  transition: background-color 0.12s;
}

button:disabled {
  cursor: not-allowed;
}

button:enabled:active {
  transform: scale(0.98);
}

/* HEADER */
header {
  padding: 15px 5px;
  color: var(--navy-colour);
  text-align: center;
}

/* MAIN */
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 5fr 1fr;
  gap: 20px;
  height: 85%;
}

#status {
  background-color: var(--light-gray-colour);
  width: 200px;
  padding: 12px 16px;
  border-radius: 10px;
  text-align: center;

  /* grid */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  place-self: center;
}
