@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-colour: hsl(204, 100%, 50%);
  --navy-colour: hsl(211, 58%, 19%);
  --light-gray-colour: hsl(60, 28%, 92%);
  --gray-colour: hsl(60, 28%, 80%);
  --ship-colour: hsl(211, 58%, 30%);
  --hit-color: #febe3f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  padding: 12px;
  height: 100dvh;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* HEADER */
header {
  padding: 15px 5px;
  color: var(--navy-colour);
  text-align: center;
}

/* MAIN - GRIDS */
main {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

#grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  width: 75vw;
  margin: 0 auto;
  --border: 1px solid var(--gray-colour);
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.grid {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
}

.row {
  width: 60vh;
  display: flex;
  flex: 1;
}

.square {
  border: var(--border);
  flex: 1;
}

.square.ship {
  background-color: var(--ship-colour);
}

.square.hit {
  background-color: var(--hit-color);
}

.square.miss {
  background-color: hsl(60, 28%, 80%);
}

.grid-button {
  display: block;
  height: 100%;
  width: 100%;
  background-color: transparent;
  --hover-colour: hsl(60, 20%, 95%);
  --click-colour: hsl(60, 50%, 80%);
  transition: background-color 0.1s ease;
}

.grid-button:hover {
  background-color: var(--hover-colour);
}

.grid-button:active {
  background-color: var(--click-colour);
}

.grid-button:disabled,
.hit .grid-button:hover,
.miss .grid-button:hover {
  background-color: inherit;
}

/* start game button */
#start-button {
  background-color: var(--primary-colour);
  color: white;
  min-width: 8vw;
  padding: 15px 5px;
  border-radius: 10px;
  --primary-colour-lighter: hsl(204, 100%, 55%);
  --primary-colour-darker: hsl(204, 95%, 48%);
}

#start-button:enabled:hover {
  background-color: var(--primary-colour-lighter);
  transition: background-color 0.12s;
}

#start-button:enabled:active {
  background-color: var(--primary-colour-darker);
}

#start-button:disabled {
  filter: saturate(0.25);
}
