@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-colour: hsl(204, 100%, 50%);
  --navy-colour: hsl(211, 58%, 19%);
  --light-gray-colour: hsl(60, 28%, 92%);
  --gray-colour: hsl(60, 28%, 80%);
  --ship-colour: hsl(211, 58%, 30%);
  --miss-color: hsl(218, 15%, 25%);
  --hit-color: #febe3f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

/* HEADER */
header {
  padding: 15px 5px;
  color: var(--navy-colour);
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#status {
  background-color: var(--light-gray-colour);
  min-width: 12vw;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

/* MAIN - GRIDS */
#grids {
  display: flex;
  justify-content: space-around;
  width: 75dvw;
  --border: 1px solid var(--gray-colour);
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.grid {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
}

.row {
  width: 60vh;
  display: flex;
  flex: 1;
}

.square {
  border: var(--border);
  flex: 1;
}

.square.ship {
  background-color: var(--ship-colour);
  border-color: transparent;
}

.square.hit {
  background-color: var(--hit-color);
}

.square.miss {
  background-color: var(--miss-color);
}

.grid-button {
  display: block;
  height: 100%;
  width: 100%;
  background-color: transparent;
  --hover-colour: hsl(60, 20%, 95%);
  --click-colour: hsl(60, 50%, 80%);
}

.hit .grid-button:hover,
.miss .grid-button:hover {
  background-color: inherit;
}

/* start game button */
#start-button {
  background-color: var(--primary-colour);
  color: white;
  min-width: 8vw;
  padding: 15px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
  --primary-colour-lighter: hsl(204, 100%, 55%);
  --primary-colour-darker: hsl(204, 95%, 48%);
}

#start-button:hover {
  background-color: var(--primary-colour-lighter);
  transition: background-color 0.12s;
}

#start-button:active {
  background-color: var(--primary-colour-darker);
}
